.Page-Title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #d6dee5;
    background-color: white;
}
.Page-Title-Right
{
    display: flex;

}
.Page-Title-Right button svg
{
    margin: 6px 10px 0px 0px;
    width: 2.2rem;
    height: 2.2rem;
}